<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    {% load static %}  <!-- static 태그를 사용하기 위해 추가 -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <h1>로그인</h1>
        <form id="loginForm" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">사용자 이름</label>
                <input type="text" id="username" name="username" required >
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">로그인</button>
        </form>
        <div id="error-message" class="error-message"></div>
        <p>아직 회원이 아니신가요? <a href="{% url 'signup' %}">회원가입</a></p>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>

</body>


{% if messages %}
    <div id="messages" style="display: none;">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var messagesDiv = document.getElementById("messages");
        if (messagesDiv) {
            var messages = messagesDiv.getElementsByTagName("p");
            for (var i = 0; i < messages.length; i++) {
                alert(messages[i].innerText);
            }
        }
    });
</script>

</html>
